.container {
  margin: 1rem;
  margin-bottom: 10rem;
}

@media (min-width: 1024px) {
  .container {
    margin: 3rem;
  }
}

.header {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: underline;
}

.emailInput {
  box-shadow: rgba(0, 0, 0, 0.11);
  border: none;
  background: #ffffff;
  border-radius: 3rem;
  height: 3rem;
  width: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif;
  padding: 0 3rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  background: url("../assets/svg/personIcon.svg") #ffffff 2.5% center no-repeat;
}

@media (min-width: 1100px) {
  .emailInput a {
    padding: 0 5rem;
  }
}

.forgotPassword {
  cursor: pointer;
  color: #00cc66;
  font-weight: 600;
  text-align: right;
}

.signIn {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: inherit;
}

@media (min-width: 1024px) {
  .signIn {
    justify-content: start;
  }
}

.signInText {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

.signInBtn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: #00cc66;
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .signInBtn {
    margin-left: 3rem;
  }
}
