.container {
  margin: 1rem;
  margin-bottom: 10rem;
}
@media (min-width: 1024px) {
  .container {
    margin: 3rem;
  }
}

.header {
  font-size: 2rem;
  font-weight: 800;
  text-decoration: underline;
}

.list {
    padding: 0;
}

.load {
    cursor: pointer;
    width: 8rem;
    margin: 0 auto;
    text-align: center;
    padding: 0.25rem 0.5rem;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    opacity: 0.7;
}
